<div class="row row-cols-3 row-cols-md-2 row-cols-lg-4 g-4 mt-3">
    <div *ngFor="let pais of paises" class="col animate__animated animate__fadeIn animate__delay-0.3s">
        <div class="card h-100">
          <img [src]="pais.flag" class="card-img-top" [alt]="pais.name">
          <div class="card-body">
            <h6 class="card-title">{{ pais.name }}</h6>
            <p class="card-text">Capital: {{ pais.capital }}</p>
            <p class="card-text">{{ pais.population | number }} Habitantes</p>
            <a [routerLink]="['/pais', pais.alpha2Code ]"
                class="btn btn-outline-primary btn-sm w-100">Ver país</a>
          </div>
        </div>
    </div>
</div>

